<h1> Modifca Messaggio </h1>

<% @errors.each do |error| %>
 <ul type="disc">
   <li><%= error %></li>
 </ul>
<% end %>

<form action="/edit/<%=  @message.id %>" method="POST">
  <h3> Email </h3>

  <input type="text" name="email" value=<%= @message.email %>>
  <h3> Messaggio </h3>

  <textarea rows="4" cols="50" input type="text" name="message" ><%=  @message.message %></textarea>
  <input type="submit" value="Inserisci ">
</form>
