<h1>Log in</h1>

<form action="/login" method="post">
  <h3> Nickname </h3>
  <input type="text" name="nickname" value=<%= params[:nickname] %>>
  <h3> Password </h3>
  <input type="text" name="password" value=<%= params[:password] %>>
  <input type="submit" value="Inserisci ">
</form>
