<h3> Risultati Ricerca </h3>



<% @result_search_email.each do |result| %>
  <ul type="disc">
    <li>N.<%=  result.id %>...<%=  result.email %>...<a href="/show/<%= result.id %>">Mostra<a/> </li>
   </ul>
<% end %>
